<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
  <br><br><a href="http://localhost:8000/admin/">投稿へ</a>
{% for blog in blogs.all %}
    <h3> {{ blog.title }}</h3>
    <p> {{ blog.pub_date }}</p>
    <img src="{{ blog.image.url }}" style="max-height:300px"/>
    <p> {{ blog.body }} </p>

{% endfor %}
</body>
</html>
